NodeRed Control Flow.json
[{"id":"854b5a77f9baf505","type":"subflow","name":"Ngenic Style Sensors","info":"","category":"","in":[{"x":60,"y":230,"wires":[{"id":"0fc7b983baeb2876"}]}],"out":[{"x":820,"y":230,"wires":[{"id":"2406efc8c86010ab","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"fb6a28e760e92f4c","type":"api-current-state","z":"854b5a77f9baf505","name":"Ute temp","server":"e3faae9c.59214","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.temperatur_ute_sovrum_2","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":370,"y":130,"wires":[["a3d5ac3ebb953653"]]},{"id":"f7d8b7b4f35e850e","type":"api-current-state","z":"854b5a77f9baf505","name":"Framl. temp","server":"e3faae9c.59214","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.ivt_bv_gt1_temp","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":380,"y":230,"wires":[["c4a6ae8b286e6198"]]},{"id":"ee295848269db885","type":"api-current-state","z":"854b5a77f9baf505","name":"Inne temp","server":"e3faae9c.59214","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.temperatur_hall_2","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":370,"y":80,"wires":[["c7584cf3622401e9"]]},{"id":"b164eb6372a19f1e","type":"change","z":"854b5a77f9baf505","name":"Heatmode","rules":[{"t":"set","p":"payload","pt":"msg","to":"heatmode","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":480,"wires":[["5dc951fbf6e06c3a"]]},{"id":"c7584cf3622401e9","type":"change","z":"854b5a77f9baf505","name":"Set Topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"inside","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":80,"wires":[["2406efc8c86010ab"]]},{"id":"a3d5ac3ebb953653","type":"change","z":"854b5a77f9baf505","name":"Set Topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"outside","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":130,"wires":[["2406efc8c86010ab"]]},{"id":"c4a6ae8b286e6198","type":"change","z":"854b5a77f9baf505","name":"Set Topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"framled","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":230,"wires":[["2406efc8c86010ab"]]},{"id":"5dc951fbf6e06c3a","type":"change","z":"854b5a77f9baf505","name":"Set Topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"heatmode","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":480,"wires":[["2406efc8c86010ab"]]},{"id":"2406efc8c86010ab","type":"join","z":"854b5a77f9baf505","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"11","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":230,"wires":[[]]},{"id":"d52bc59bf6503148","type":"change","z":"854b5a77f9baf505","name":"Setpoint","rules":[{"t":"set","p":"payload","pt":"msg","to":"setpoint","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":530,"wires":[["af01b013211cec09"]]},{"id":"af01b013211cec09","type":"change","z":"854b5a77f9baf505","name":"Set Topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"setpoint","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":530,"wires":[["2406efc8c86010ab"]]},{"id":"0fc7b983baeb2876","type":"api-current-state","z":"854b5a77f9baf505","name":"forcera?","server":"e3faae9c.59214","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.forcera_2_timmar_varme","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":200,"y":230,"wires":[["ee295848269db885","fb6a28e760e92f4c","f7d8b7b4f35e850e","b164eb6372a19f1e","d52bc59bf6503148","6ddffefdda1b2688","0323e62e51345a2f","7bdd256fda3cdd44","44189292734d422c","699a7a5bda541e2f","5a434d0eb0b21425"],[]]},{"id":"6ddffefdda1b2688","type":"api-current-state","z":"854b5a77f9baf505","name":"Ute IVT","server":"e3faae9c.59214","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.ivt_ute_temp","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":370,"y":180,"wires":[["85ef40fc75caf294"]]},{"id":"85ef40fc75caf294","type":"change","z":"854b5a77f9baf505","name":"Set Topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"ivtoutside","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":180,"wires":[["2406efc8c86010ab"]]},{"id":"0323e62e51345a2f","type":"api-current-state","z":"854b5a77f9baf505","name":"Önsk. temp","server":"e3faae9c.59214","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.onskad_temp_inne","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":380,"y":280,"wires":[["95541d58a7cc217d"]]},{"id":"95541d58a7cc217d","type":"change","z":"854b5a77f9baf505","name":"Set Topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"wishtemp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":280,"wires":[["2406efc8c86010ab"]]},{"id":"7bdd256fda3cdd44","type":"api-current-state","z":"854b5a77f9baf505","name":"påverkan","server":"e3faae9c.59214","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.givarpaverkan","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":370,"y":330,"wires":[["8ad53d2999b00ca0"]]},{"id":"8ad53d2999b00ca0","type":"change","z":"854b5a77f9baf505","name":"Set Topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"impact","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":330,"wires":[["2406efc8c86010ab"]]},{"id":"44189292734d422c","type":"api-current-state","z":"854b5a77f9baf505","name":"påverkan save","server":"e3faae9c.59214","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.temp_justering_save","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":380,"y":380,"wires":[["7422ced7b8691437"]]},{"id":"7422ced7b8691437","type":"change","z":"854b5a77f9baf505","name":"Set Topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"impactsave","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":380,"wires":[["2406efc8c86010ab"]]},{"id":"699a7a5bda541e2f","type":"api-current-state","z":"854b5a77f9baf505","name":"påverkan boost","server":"e3faae9c.59214","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.temp_justering_boost","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":380,"y":430,"wires":[["323b261f986601f0"]]},{"id":"323b261f986601f0","type":"change","z":"854b5a77f9baf505","name":"Set Topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"impactboost","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":430,"wires":[["2406efc8c86010ab"]]},{"id":"5a434d0eb0b21425","type":"api-current-state","z":"854b5a77f9baf505","name":"Inne temp 2","server":"e3faae9c.59214","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.temperatur_sovrum","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":380,"y":40,"wires":[["45af668a3c384257"]]},{"id":"45af668a3c384257","type":"change","z":"854b5a77f9baf505","name":"Set Topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"inside2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":40,"wires":[["2406efc8c86010ab"]]},{"id":"904df66991e913e2","type":"inject","z":"5c6241124b106109","name":"Refresh","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"{   viewer {     homes {       currentSubscription{         priceInfo{           today {             total             startsAt           }           tomorrow {             total             startsAt           }         }       }     }   } }","payloadType":"str","x":220,"y":740,"wires":[["9a1b4468906cc0ee","345669ef4072025b"]]},{"id":"311094a66cb45359","type":"function","z":"5c6241124b106109","name":"Calc Temp","func":"var insideSP = msg.payload.wishtemp\nvar reactSP = msg.payload.impact\nvar change\nvar impactSave = msg.payload.impactsave\nvar impactBoost = msg.payload.impactboost\n\nvar inside = msg.payload.inside\nvar inside2 = msg.payload.inside2\ninside = (inside + inside2) / 2\nvar outside = msg.payload.outside\nvar ivtoutside = msg.payload.ivtoutside\nvar framled = msg.payload.framled\nvar heatmode = msg.payload.heatmode\nvar setpoint = msg.payload.setpoint\nvar settemp = outside\nvar setactive\nvar activate = \"turn_off\"\nvar status\n//node.warn(\"settemp: \" + settemp + \" setpoint: \" + setpoint)\n\nif(framled > 70)\n{    settemp = setpoint + 1;    heatmode = \"ERROR\" }\n\n\nif(heatmode == \"AUTO\")\n{\n    activate = \"turn_on\"\n    change = (inside - insideSP) * reactSP\n    settemp = outside + change\n}\nelse if (heatmode == \"OFF\")\n{\n    activate = \"turn_on\"\n    settemp = 25\n}\nelse if (heatmode == \"SAVE\") \n{\n    activate = \"turn_on\"\n    change = (inside - insideSP) * reactSP\n    settemp = outside + impactSave + change\n}\nelse if (heatmode == \"BOOST\") \n{\n    activate = \"turn_on\"\n    change = (inside - insideSP) * reactSP\n    settemp = outside - impactBoost + change\n}\nelse if (heatmode == \"ACT\") \n{\n    activate = \"turn_off\"\n    settemp = 25\n}\n\n\n\n\n//Store the temp until next loop\nsetpoint = settemp;\n\nif (setpoint >= 0) \n{ setpoint = Math.floor(setpoint) }\nelse \n{ setpoint = Math.ceil(setpoint) }\n\n//Create payload for temp\nsettemp = {\n    \"domain\": \"input_number\",\n    \"service\": \"set_value\",\n    \"data\": {\n        \"entity_id\": \"input_number.bestam_utetemp\",\n        \"value\": setpoint\n    }\n}\n\n//Set Override switch on or off\nsetactive = {\n    \"domain\": \"homeassistant\",\n    \"service\": activate,\n    \"target\": {\n        \"entity_id\": [\"switch.ivt_temp_tweaker\"]\n    }\n}\n\n//Send status from Node\nstatus = {\n    \"setpoint\" : setpoint,\n    \"heatmode\" : heatmode,\n    \"tempcorrection\": change.toFixed(2),\n    \"insideaverage\": inside.toFixed(1)\n}\nvar msg1 = { payload: settemp };\nvar msg2 = { payload: setactive };\nvar msg3 = { payload: status };\nreturn [msg1, msg2, msg3];","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":740,"wires":[["afac0af1c094f0a3"],["14af7a0bc5f9696c"],["6c79fc4fe28d65b3","cf7389bcdf1474fe"]]},{"id":"6c79fc4fe28d65b3","type":"change","z":"5c6241124b106109","name":"Setpoint","rules":[{"t":"set","p":"setpoint","pt":"global","to":"payload.setpoint","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":790,"wires":[[]]},{"id":"14af7a0bc5f9696c","type":"api-call-service","z":"5c6241124b106109","name":"On / Off?","server":"e3faae9c.59214","version":5,"debugenabled":false,"domain":"","service":"","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":740,"wires":[[]]},{"id":"afac0af1c094f0a3","type":"api-call-service","z":"5c6241124b106109","name":"Set Temp","server":"e3faae9c.59214","version":5,"debugenabled":false,"domain":"","service":"","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":690,"wires":[[]]},{"id":"9a1b4468906cc0ee","type":"subflow:854b5a77f9baf505","z":"5c6241124b106109","name":"Ngenic Style Sensors","x":400,"y":740,"wires":[["311094a66cb45359","a06ad981ad442acd"]]},{"id":"a06ad981ad442acd","type":"debug","z":"5c6241124b106109","name":"debug 71","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":680,"wires":[]},{"id":"cf7389bcdf1474fe","type":"ha-sensor","z":"5c6241124b106109","name":"","entityConfig":"17453b34a4773819","version":0,"state":"payload.heatmode","stateType":"msg","attributes":[{"property":"Setpoint","value":"payload.setpoint","valueType":"msg"},{"property":"Temp Correction","value":"payload.tempcorrection","valueType":"msg"},{"property":"Inside Average Temp","value":"payload.insideaverage","valueType":"msg"}],"inputOverride":"allow","outputProperties":[],"x":750,"y":830,"wires":[["76e11ab9dfc7ee04"]]},{"id":"76e11ab9dfc7ee04","type":"ha-sensor","z":"5c6241124b106109","name":"","entityConfig":"52843cf70aea2ae8","version":0,"state":"payload.setpoint","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":880,"y":820,"wires":[["0005887cbb8edf71"]]},{"id":"0005887cbb8edf71","type":"ha-sensor","z":"5c6241124b106109","name":"","entityConfig":"1b91ed6402c7c10c","version":0,"state":"payload.tempcorrection","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1010,"y":810,"wires":[["cf9e5fbd5dabaf12"]]},{"id":"cf9e5fbd5dabaf12","type":"ha-sensor","z":"5c6241124b106109","name":"","entityConfig":"debbca4fe1684947","version":0,"state":"payload.insideaverage","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1140,"y":800,"wires":[[]]},{"id":"e3faae9c.59214","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"17453b34a4773819","type":"ha-entity-config","server":"e3faae9c.59214","deviceConfig":"","name":"Ngenic Status","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Ngenic Status"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"52843cf70aea2ae8","type":"ha-entity-config","server":"e3faae9c.59214","deviceConfig":"","name":"Ngenic Setpoint","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Ngenic Setpoint"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"temperature"},{"property":"unit_of_measurement","value":"°C"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"1b91ed6402c7c10c","type":"ha-entity-config","server":"e3faae9c.59214","deviceConfig":"","name":"Ngenic Temp correction","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Ngenic Temp correction"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"temperature"},{"property":"unit_of_measurement","value":"°C"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"debbca4fe1684947","type":"ha-entity-config","server":"e3faae9c.59214","deviceConfig":"","name":"Inomhus Temp Medel","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Inomhus Temp Medel"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"temperature"},{"property":"unit_of_measurement","value":"°C"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false}]